@inject HttpClient Http

<div class="card">
    @if (recipe == null) {
        <Loader />
    } else {
        <img class="card-img-top" src="@(recipe.ThumbnailUrl)" alt="@(recipe.Name)" />
        <div class="card-body">
            <h5 class="card-title">@(recipe.Name)</h5>
            <p class="card-text">@(recipe.Description)</p>
            <a href="recipe/@(recipe.Name)" class="btn btn-primary">View Recipe</a>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public HomeRecipes.Shared.Recipe recipe { get; set; }

    protected override async Task OnInitializedAsync() {
        if (recipe == null && Index > 0) {
            recipe = (await Http.GetFromJsonAsync<IEnumerable<HomeRecipes.Shared.Recipe>>($"recipes/recipes.json")).ElementAt(Index);
        }
    }
}
