@page "/"
@inject HttpClient Http
@using HomeRecipes.Client.Components

<div class="card-columns">
    @for (int i = 0; i < recipes?.Count(); i++) {
        <RecipeTile Index="@i" recipe="@recipes.ElementAt(i)" />
    }
</div>

@code {
    private IEnumerable<HomeRecipes.Shared.Recipe> recipes { get; set; }

    protected override async Task OnInitializedAsync() {
        recipes = await Http.GetFromJsonAsync<IEnumerable<HomeRecipes.Shared.Recipe>>($"recipes/recipes.json");
    }
} 