@inject HttpClient Http

<div class="card">
    @if (recipe == null) {
        <BlazorBootstrap.Spinner />
    } else {
        <img class="card-img-top" src="@(recipe.ThumbnailUrl)" alt="@(recipe.Name)" />
        <div class="card-body">
            <h5 class="card-title">@(recipe.Name)</h5>
            <p class="card-text">@(recipe.Description)</p>
            <a href="recipes/@(recipe.Name)" class="btn btn-primary">View Recipe</a>
        </div>
    }
</div>

@code {
    [Parameter]
    public HomeRecipes.Shared.Recipe recipe { get; set; }
}
